.person{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom:10px;
    padding-bottom:10px;
    margin-right: 5px;
    border:2px solid salmon;
    border-radius:5px;
}
.person-name{
    color:blue;
    font-weight :400;
}
.person img{
    width:300px;
    height: 300px;
}
.details{
    padding:10px;
    margin:30px;
}
.main-button{
    background-color: goldenrod;
    width:150px;
    height: 30px;
    border:1px solid darkgray;
    border-radius: 5px;
}